In [349]:
import pandas as pd
from sqlalchemy import create_engine
import numpy as np
import os 
from pygal import Bar,StackedBar
import seaborn as sns
from dateutil.relativedelta import relativedelta as rd
from datetime import date,datetime
import matplotlib.pyplot as plt
%matplotlib inline

In [350]:
from __future__ import division

In [351]:
df15=pd.read_csv('2015.csv')

In [352]:
df16=pd.read_csv('2016.csv')

In [353]:
(df15.shape,df16.shape)

((1634, 8), (2227, 8))

In [355]:
dfcc1 = df16.merge(df15, left_on="FOLIO", right_on="FOLIO", how="outer", suffixes=("_16", "_15"))

In [356]:
dfcc2 = df15.merge(df16, left_on="FOLIO", right_on="FOLIO", how="outer", suffixes=("_16", "_15"))
dfcc2.shape
aux1a=dfcc2.dropna()
aux2a= dfcc2.loc[dfccc.STATUS_15.isnull()]
aux3a= dfcc2.loc[dfccc.STATUS_16.isnull()]
dfcc2.shape[0],aux1a.shape[0],aux2a.shape[0],aux3a.shape[0],aux1a.shape[0]+aux2a.shape[0]+aux3a.shape[0]

(2235, 1642, 593, 0, 2235)

In [359]:
aux1=dfccc.dropna()
aux2= dfccc.loc[dfccc.STATUS_15.isnull()]
aux3= dfccc.loc[dfccc.STATUS_16.isnull()]

In [360]:
dfccc.shape[0],aux1.shape[0],aux2.shape[0],aux3.shape[0],aux1.shape[0]+aux2.shape[0]+aux3.shape[0]

(2235, 1642, 593, 0, 2235)

# 5

In [410]:
df15bb=df15.copy()

In [411]:
df15bb['PAGADO']=df15bb['PAGADO']*(1-df15bb['OUT'])

In [422]:
df15b=df15bb[['SEXO','FOLIO','PAGADO']]

In [423]:
df15b=df15b.groupby('FOLIO').sum()

In [424]:
df16bb=df16.copy()

In [425]:
df16bb['PAGADO']=df16bb['PAGADO']*(1-df16bb['OUT'])

In [426]:
df16b=df16bb[['SEXO','FOLIO','PAGADO']]

In [427]:
df16b=df16b.groupby('FOLIO').sum()

In [462]:
dfcc5 = df16b.merge(df15b, left_index=True, right_index=True, how="outer", suffixes=("_16", "_15"))

In [469]:
dfcc5b=dfcc5.copy()
dfcc5b['TOTAL']=dfcc5.fillna(0)['PAGADO_15']+dfcc5.fillna(0)['PAGADO_16']

In [480]:
dfcc5.sort_values('TOTAL',ascending=False).head(1)

             PAGADO_16  PAGADO_15     TOTAL
FOLIO
HI000000000     276197   375215.0  651412.0